.wrapper{
    border-top: 1px solid #e3e3e4 ;
    padding: 6px 0;
}

.label{
    font-size: 1.2rem;
    padding: 8px;

}

.account-item{
    display: flex;
    padding: 6px;
    cursor: pointer;
    padding: 10px 0;

}

.avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;

}

.item-info{
    flex: 1;
    margin-left: 12px;

}

.nickname{
    line-height: 1;
    margin-top: 0;
    font-size: 1.4rem;
    color: #161823;

}

.check{
    margin-left: 6px;
    font-size: 1.2rem;
    color: #20D5EC;
}

.name{
    font-size: 1rem;
    opacity: #161823bf;
    padding-top: 2px;

}

.more-btn{
    padding: 8px;
    font-size: 1.2rem;
    color: #fe2c55;
    font-weight: 500;
}