.wrapper{
    display: flex;
    align-items: center;
    padding: 6px 16px;
    cursor: pointer;
    justify-content: space-between;

    &:hover{
        background: rgba(22, 24, 35, 0.03);
    }

}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;


}

.info{
    flex:1;
    margin-left: 12px;

}

.name{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 21px;
}

.check{
    margin-left: 8px;
    color: rgb( 32, 213, 236);
    font-size: 1rem;
}

.username{
    font-size: 12px;
    color: rgba(22, 24, 35, 0.5);
    line-height: 18px;
    font-weight: 400;

}
