.menu-item{
    display: flex;
    font-size: 1.6rem;
    font-weight: 500;
    align-items: center;
    border-radius: 4px;
    color: var(--text-color);
    transition: background-color ease-in 200ms;
    padding: 6px 0;

    &.active{
        color: var(--primary);
        
        .icon{
            display: none;
        }
        .active-icon{
            display: flex;
        }
    }

    &:hover{
        background-color: rgba(22, 24, 35, 0.03);

    }
}
.menu-title{
    margin-left: 6px;
    margin-top: 10px;
}

.icon, .active-icon{
    display: flex;
}

.active-icon{
    display: none;
}